# 1.데이터 로드 및 모듈 호출

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [3]:
tada_eta = pd.read_excel('/content/drive/MyDrive/<멋쟁이사자처럼> 쏘카/Chapter_2/Chapter 2_실습파일/tada_eta.xlsx')
print(tada_eta.columns)
tada_eta.head()

Index(['ATA', 'id', 'api_eta', 'created_at_kst', 'month', 'pickup_lng',
       'pickup_lat', 'pickup_gu', 'driver_id', 'driver_lng', 'driver_lat',
       'hour'],
      dtype='object')

,ATA,id,api_eta,created_at_kst,month,pickup_lng,pickup_lat,pickup_gu,driver_id,driver_lng,driver_lat,hour
0,10.60,R4L9FL6NVEL4D0,5.65,2019-12-01T00:55:09,12,127.091399,37.624545,노원구,DST52944,127.069978,37.616472,0
1,9.20,R3A7JBY7CS6TPD,8.60,2019-12-01T00:09:39,12,127.023351,37.625564,강북구,DPC72995,127.026479,37.604711,0
2,10.85,R2BIUY1TDK14XE,10.53,2019-12-15T00:18:42,12,126.881154,37.481641,금천구,DPP94923,126.906225,37.452167,0
3,5.52,R31PU5GNHSGU6C,1.92,2019-07-31T00:24:11,7,126.988375,37.567897,중구,DCT73585,126.991170,37.566416,0
4,8.60,R41WR6N1VT42DJ,7.10,2019-07-05T00:40:34,7,126.988684,37.566716,중구,DPJ86237,127.006860,37.571164,0

In [4]:
tada_eta['distance'] = ((tada_eta['pickup_lat']-tada_eta['driver_lat'])**2 + (tada_eta['pickup_lng']-tada_eta['driver_lng'])**2)*100000
tada_eta = tada_eta.drop(['id', 'created_at_kst', 'driver_id', 'pickup_lng', 'pickup_lat', 'driver_lng','driver_lat'],1)
tada_eta.head()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only

     ATA  api_eta  month pickup_gu  hour    distance
0  10.60     5.65     12       노원구     0   52.400202
1   9.20     8.60     12       강북구     0   44.465889
2  10.85    10.53     12       금천구     0  149.731535
3   5.52     1.92      7        중구     0    1.000535
4   8.60     7.10      7        중구     0   35.014797

In [5]:
tada_eta = pd.get_dummies(tada_eta)
tada_eta.head()

,ATA,api_eta,month,hour,distance,pickup_gu_강남구,pickup_gu_강동구,pickup_gu_강북구,pickup_gu_강서구,pickup_gu_관악구,...,pickup_gu_성동구,pickup_gu_성북구,pickup_gu_송파구,pickup_gu_양천구,pickup_gu_영등포구,pickup_gu_용산구,pickup_gu_은평구,pickup_gu_종로구,pickup_gu_중구,pickup_gu_중랑구
0,10.60,5.65,12,0,52.400202,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,9.20,8.60,12,0,44.465889,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
2,10.85,10.53,12,0,149.731535,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,5.52,1.92,7,0,1.000535,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
4,8.60,7.10,7,0,35.014797,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0

# 2.데이터셋 분리

In [6]:
tada_eta = tada_eta.sample(frac=1, random_state=0).reset_index(drop=True)
train = tada_eta[:12000]
test = tada_eta[12000:]

In [7]:
x_test = test.drop('ATA',1)
y_test = test['ATA']

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  """Entry point for launching an IPython kernel.

# 3.이상치 제거

In [8]:
from collections import Counter 

def detect_outliers(df, n, features): 
  outlier_indices = [] 
  for col in features:
    Q1 = np.percentile(df[col], 5) 
    Q3 = np.percentile(df[col], 95) 
    IQR = Q3 - Q1 
    outlier_step = 1.5 * IQR 
    outlier_list_col = df[(df[col] < Q1 - outlier_step) | (df[col] > Q3 + outlier_step)].index 
    outlier_indices.extend(outlier_list_col) 
  outlier_indices = Counter(outlier_indices) 
  multiple_outliers = list(k for k, v in outlier_indices.items() if v > n) 

  return multiple_outliers 
  
Outliers_to_drop = detect_outliers(train, 0, ['ATA', 'api_eta', 'month', 'hour', 'distance'])

In [9]:
train.loc[Outliers_to_drop]

,ATA,api_eta,month,hour,distance,pickup_gu_강남구,pickup_gu_강동구,pickup_gu_강북구,pickup_gu_강서구,pickup_gu_관악구,...,pickup_gu_성동구,pickup_gu_성북구,pickup_gu_송파구,pickup_gu_양천구,pickup_gu_영등포구,pickup_gu_용산구,pickup_gu_은평구,pickup_gu_종로구,pickup_gu_중구,pickup_gu_중랑구
1111,41.43,8.30,12,15,16.966442,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7194,44.78,8.90,7,19,94.328891,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
10449,36.93,18.45,7,15,271.284330,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
48,17.07,12.48,12,22,190.128496,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
81,14.72,12.20,12,15,196.772512,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10908,18.45,15.52,7,13,254.238835,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
11166,35.30,4.25,12,22,1009.271325,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
11741,7.95,4.93,7,5,185.393596,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
11903,16.90,14.97,12,19,233.034375,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
11997,19.75,14.00,7,20,275.213141,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [10]:
pre_train = train.drop(Outliers_to_drop, axis=0).reset_index(drop=True)

In [11]:
x_train = pre_train.drop('ATA',1)
y_train = pre_train['ATA']

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  """Entry point for launching an IPython kernel.

# 4.RFECV를 통한 변수선택

In [ ]:
from sklearn.feature_selection import RFECV
from sklearn.model_selection import RepeatedStratifiedKFold
from sklearn.ensemble import RandomForestRegressor

model = RandomForestRegressor(n_jobs=10,random_state=42)
rfe = RFECV(model,cv=5)
rfe = rfe.fit(x_train, y_train)

print('Selected features; %s' % list(x_train.columns[rfe.support_]))

Selected features; ['api_eta', 'month', 'hour', 'distance', 'pickup_gu_강남구', 'pickup_gu_강서구', 'pickup_gu_관악구', 'pickup_gu_광진구', 'pickup_gu_구로구', 'pickup_gu_금천구', 'pickup_gu_동대문구', 'pickup_gu_동작구', 'pickup_gu_마포구', 'pickup_gu_서대문구', 'pickup_gu_서초구', 'pickup_gu_성동구', 'pickup_gu_성북구', 'pickup_gu_송파구', 'pickup_gu_양천구', 'pickup_gu_영등포구', 'pickup_gu_용산구', 'pickup_gu_은평구', 'pickup_gu_종로구', 'pickup_gu_중구']

In [ ]:
len(list(x_train.columns[rfe.support_]))

24

In [12]:
x_train_pre = x_train[['api_eta', 'month', 'hour', 'distance', 'pickup_gu_강남구', 'pickup_gu_강서구', 'pickup_gu_관악구', 'pickup_gu_광진구', 'pickup_gu_구로구', 'pickup_gu_금천구', 'pickup_gu_동대문구', 'pickup_gu_동작구', 'pickup_gu_마포구', 'pickup_gu_서대문구', 'pickup_gu_서초구', 'pickup_gu_성동구', 'pickup_gu_성북구', 'pickup_gu_송파구', 'pickup_gu_양천구', 'pickup_gu_영등포구', 'pickup_gu_용산구', 'pickup_gu_은평구', 'pickup_gu_종로구', 'pickup_gu_중구']]

# 5.OPTUNA를 활용한 하이퍼파라미터 튜닝

In [13]:
!pip install optuna

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting optuna
  Downloading optuna-2.10.0-py3-none-any.whl (308 kB)
     |████████████████████████████████| 308 kB 4.4 MB/s
Requirement already satisfied: scipy!=1.4.0 in /usr/local/lib/python3.7/dist-packages (from optuna) (1.4.1)
Requirement already satisfied: packaging>=20.0 in /usr/local/lib/python3.7/dist-packages (from optuna) (21.3)
Requirement already satisfied: sqlalchemy>=1.1.0 in /usr/local/lib/python3.7/dist-packages (from optuna) (1.4.36)
Collecting cliff
  Downloading cliff-3.10.1-py3-none-any.whl (81 kB)
     |████████████████████████████████| 81 kB 7.5 MB/s
Collecting colorlog
  Downloading colorlog-6.6.0-py2.py3-none-any.whl (11 kB)
Requirement already satisfied: tqdm in /usr/local/lib/python3.7/dist-packages (from optuna) (4.64.0)
Collecting alembic
  Downloading alembic-1.8.0-py3-none-any.whl (209 kB)
     |████████████████████████████████| 209 kB 46.0 MB/s
Requirement already satisfied: PyYAML in /usr/local/lib/python3.7/dist-packages (from optuna) (3.13)
Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (from optuna) (1.21.6)
Collecting cmaes>=0.8.2
  Downloading cmaes-0.8.2-py3-none-any.whl (15 kB)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in /usr/local/lib/python3.7/dist-packages (from packaging>=20.0->optuna) (3.0.9)
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.7/dist-packages (from sqlalchemy>=1.1.0->optuna) (1.1.2)
Requirement already satisfied: importlib-metadata in /usr/local/lib/python3.7/dist-packages (from sqlalchemy>=1.1.0->optuna) (4.11.4)
Collecting Mako
  Downloading Mako-1.2.0-py3-none-any.whl (78 kB)
     |████████████████████████████████| 78 kB 5.5 MB/s
Requirement already satisfied: importlib-resources in /usr/local/lib/python3.7/dist-packages (from alembic->optuna) (5.7.1)
Collecting stevedore>=2.0.1
  Downloading stevedore-3.5.0-py3-none-any.whl (49 kB)
     |████████████████████████████████| 49 kB 4.6 MB/s
Collecting pbr!=2.1.0,>=2.0.0
  Downloading pbr-5.9.0-py2.py3-none-any.whl (112 kB)
     |████████████████████████████████| 112 kB 37.8 MB/s
Requirement already satisfied: PrettyTable>=0.7.2 in /usr/local/lib/python3.7/dist-packages (from cliff->optuna) (3.3.0)
Collecting cmd2>=1.0.0
  Downloading cmd2-2.4.1-py3-none-any.whl (146 kB)
     |████████████████████████████████| 146 kB 61.0 MB/s
Collecting autopage>=0.4.0
  Downloading autopage-0.5.1-py3-none-any.whl (29 kB)
Requirement already satisfied: typing-extensions in /usr/local/lib/python3.7/dist-packages (from cmd2>=1.0.0->cliff->optuna) (4.2.0)
Requirement already satisfied: wcwidth>=0.1.7 in /usr/local/lib/python3.7/dist-packages (from cmd2>=1.0.0->cliff->optuna) (0.2.5)
Collecting pyperclip>=1.6
  Downloading pyperclip-1.8.2.tar.gz (20 kB)
Requirement already satisfied: attrs>=16.3.0 in /usr/local/lib/python3.7/dist-packages (from cmd2>=1.0.0->cliff->optuna) (21.4.0)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata->sqlalchemy>=1.1.0->optuna) (3.8.0)
Requirement already satisfied: MarkupSafe>=0.9.2 in /usr/local/lib/python3.7/dist-packages (from Mako->alembic->optuna) (2.0.1)
Building wheels for collected packages: pyperclip
  Building wheel for pyperclip (setup.py) ... done
  Created wheel for pyperclip: filename=pyperclip-1.8.2-py3-none-any.whl size=11137 sha256=fe6f98da9ddf31db50b91ddfa8940715a518466f6d2b1090e151c6c54c934762
  Stored in directory: /root/.cache/pip/wheels/9f/18/84/8f69f8b08169c7bae2dde6bd7daf0c19fca8c8e500ee620a28
Successfully built pyperclip
Installing collected packages: pyperclip, pbr, stevedore, Mako, cmd2, autopage, colorlog, cmaes, cliff, alembic, optuna
Successfully installed Mako-1.2.0 alembic-1.8.0 autopage-0.5.1 cliff-3.10.1 cmaes-0.8.2 cmd2-2.4.1 colorlog-6.6.0 optuna-2.10.0 pbr-5.9.0 pyperclip-1.8.2 stevedore-3.5.0

In [14]:
x_test_pre = x_test[['api_eta', 'month', 'hour', 'distance', 'pickup_gu_강남구', 'pickup_gu_강서구', 'pickup_gu_관악구', 'pickup_gu_광진구', 'pickup_gu_구로구', 'pickup_gu_금천구', 'pickup_gu_동대문구', 'pickup_gu_동작구', 'pickup_gu_마포구', 'pickup_gu_서대문구', 'pickup_gu_서초구', 'pickup_gu_성동구', 'pickup_gu_성북구', 'pickup_gu_송파구', 'pickup_gu_양천구', 'pickup_gu_영등포구', 'pickup_gu_용산구', 'pickup_gu_은평구', 'pickup_gu_종로구', 'pickup_gu_중구']]

In [15]:
X = np.concatenate((x_train_pre,x_test_pre), axis=0)
y = np.concatenate((y_train,y_test), axis=0)

In [21]:
import optuna
from optuna import Trial, visualization
from optuna.samplers import TPESampler
from sklearn.model_selection import cross_val_score
import warnings
warnings.filterwarnings('ignore')
from sklearn.model_selection import PredefinedSplit
from sklearn import ensemble

In [22]:
def objective(trial):
    max_depth = trial.suggest_int('max_depth', 1, 10000)
    learning_rate = trial.suggest_loguniform('learning_rate', 1e-8, 1e-2)
    min_samples_leaf = trial.suggest_int('min_samples_leaf', 1, 10000)
    n_estimators =  trial.suggest_int('n_estimators', 30, 1000)
    loss = trial.suggest_categorical('loss', ['ls'])

    
    regr = ensemble.GradientBoostingRegressor(max_depth = max_depth, learning_rate = learning_rate,
                                 min_samples_leaf = min_samples_leaf,n_estimators = n_estimators,loss=loss)
    
    pds = PredefinedSplit(test_fold=[-1]*len(x_train_pre)+[0]*len(x_test_pre))
    score = cross_val_score(regr,X, y, cv=pds, scoring="neg_mean_squared_error")
    neg_mean_squared_error_mean = score.mean()

    return neg_mean_squared_error_mean

In [23]:
#Execute optuna and set hyperparameters
study = optuna.create_study(direction='maximize')
study.optimize(objective, n_trials=50)

#Create an instance with tuned hyperparameters
optimised_Gbr = ensemble.GradientBoostingRegressor(max_depth = study.best_params['max_depth'], learning_rate = study.best_params['learning_rate'],
                                     min_samples_leaf = study.best_params['min_samples_leaf'],n_estimators = study.best_params['n_estimators'],loss = study.best_params['loss'],random_state=42)

[I 2022-06-02 21:03:04,877] A new study created in memory with name: no-name-dc0489b9-6b59-499a-8f5d-633a5e6b2c4a
[I 2022-06-02 21:03:09,537] Trial 0 finished with value: -16.835471813569807 and parameters: {'max_depth': 3509, 'learning_rate': 9.149928852835578e-08, 'min_samples_leaf': 5723, 'n_estimators': 808, 'loss': 'ls'}. Best is trial 0 with value: -16.835471813569807.
[I 2022-06-02 21:03:11,335] Trial 1 finished with value: -16.07139684848889 and parameters: {'max_depth': 3922, 'learning_rate': 0.00023457705463436068, 'min_samples_leaf': 4234, 'n_estimators': 334, 'loss': 'ls'}. Best is trial 1 with value: -16.07139684848889.
[I 2022-06-02 21:03:11,590] Trial 2 finished with value: -16.836227361308143 and parameters: {'max_depth': 9851, 'learning_rate': 8.503964969528061e-07, 'min_samples_leaf': 9263, 'n_estimators': 528, 'loss': 'ls'}. Best is trial 1 with value: -16.07139684848889.
[I 2022-06-02 21:03:14,163] Trial 3 finished with value: -16.795381761087064 and parameters: {'max_depth': 3197, 'learning_rate': 8.024836342183457e-06, 'min_samples_leaf': 3969, 'n_estimators': 488, 'loss': 'ls'}. Best is trial 1 with value: -16.07139684848889.
[I 2022-06-02 21:03:14,472] Trial 4 finished with value: -16.836227361308143 and parameters: {'max_depth': 8973, 'learning_rate': 2.0353571698146947e-07, 'min_samples_leaf': 9129, 'n_estimators': 596, 'loss': 'ls'}. Best is trial 1 with value: -16.07139684848889.
[I 2022-06-02 21:03:14,649] Trial 5 finished with value: -16.836227361308143 and parameters: {'max_depth': 6428, 'learning_rate': 1.6127088602314935e-06, 'min_samples_leaf': 5987, 'n_estimators': 338, 'loss': 'ls'}. Best is trial 1 with value: -16.07139684848889.
[I 2022-06-02 21:03:15,916] Trial 6 finished with value: -16.801745585581184 and parameters: {'max_depth': 1098, 'learning_rate': 1.3596484090166422e-05, 'min_samples_leaf': 4093, 'n_estimators': 243, 'loss': 'ls'}. Best is trial 1 with value: -16.07139684848889.
[I 2022-06-02 21:03:25,067] Trial 7 finished with value: -16.806509293729267 and parameters: {'max_depth': 1330, 'learning_rate': 3.291305510861153e-06, 'min_samples_leaf': 903, 'n_estimators': 579, 'loss': 'ls'}. Best is trial 1 with value: -16.07139684848889.
[I 2022-06-02 21:03:33,805] Trial 8 finished with value: -16.786781941389943 and parameters: {'max_depth': 4412, 'learning_rate': 4.9816584410658615e-06, 'min_samples_leaf': 1230, 'n_estimators': 662, 'loss': 'ls'}. Best is trial 1 with value: -16.07139684848889.
[I 2022-06-02 21:03:34,195] Trial 9 finished with value: -16.836227361308143 and parameters: {'max_depth': 8269, 'learning_rate': 1.8141789243622985e-07, 'min_samples_leaf': 8777, 'n_estimators': 795, 'loss': 'ls'}. Best is trial 1 with value: -16.07139684848889.
[I 2022-06-02 21:03:34,565] Trial 10 finished with value: -16.310386933645166 and parameters: {'max_depth': 6305, 'learning_rate': 0.001083536528936504, 'min_samples_leaf': 3097, 'n_estimators': 42, 'loss': 'ls'}. Best is trial 1 with value: -16.07139684848889.
[I 2022-06-02 21:03:34,897] Trial 11 finished with value: -16.27948658130276 and parameters: {'max_depth': 6472, 'learning_rate': 0.001269845792288917, 'min_samples_leaf': 2713, 'n_estimators': 38, 'loss': 'ls'}. Best is trial 1 with value: -16.07139684848889.
[I 2022-06-02 21:03:35,267] Trial 12 finished with value: -16.136912318251863 and parameters: {'max_depth': 6041, 'learning_rate': 0.0014247648332475346, 'min_samples_leaf': 2538, 'n_estimators': 43, 'loss': 'ls'}. Best is trial 1 with value: -16.07139684848889.
[I 2022-06-02 21:03:35,418] Trial 13 finished with value: -16.836227361308143 and parameters: {'max_depth': 5343, 'learning_rate': 0.00011028371652546196, 'min_samples_leaf': 7119, 'n_estimators': 255, 'loss': 'ls'}. Best is trial 1 with value: -16.07139684848889.
[I 2022-06-02 21:03:37,335] Trial 14 finished with value: -9.783754185138086 and parameters: {'max_depth': 3060, 'learning_rate': 0.008767043747589805, 'min_samples_leaf': 2063, 'n_estimators': 175, 'loss': 'ls'}. Best is trial 14 with value: -9.783754185138086.
[I 2022-06-02 21:03:45,676] Trial 15 finished with value: -8.359564915459453 and parameters: {'max_depth': 2132, 'learning_rate': 0.007757442602848616, 'min_samples_leaf': 396, 'n_estimators': 366, 'loss': 'ls'}. Best is trial 15 with value: -8.359564915459453.
[I 2022-06-02 21:03:50,501] Trial 16 finished with value: -8.655517112201366 and parameters: {'max_depth': 2334, 'learning_rate': 0.008431825409954052, 'min_samples_leaf': 281, 'n_estimators': 202, 'loss': 'ls'}. Best is trial 15 with value: -8.359564915459453.
[I 2022-06-02 21:04:22,138] Trial 17 finished with value: -8.208414329805004 and parameters: {'max_depth': 121, 'learning_rate': 0.008709674733674474, 'min_samples_leaf': 361, 'n_estimators': 960, 'loss': 'ls'}. Best is trial 17 with value: -8.208414329805004.
[I 2022-06-02 21:04:40,753] Trial 18 finished with value: -16.02824606922475 and parameters: {'max_depth': 12, 'learning_rate': 5.929558844770704e-05, 'min_samples_leaf': 366, 'n_estimators': 887, 'loss': 'ls'}. Best is trial 17 with value: -8.208414329805004.
[I 2022-06-02 21:04:52,983] Trial 19 finished with value: -8.815434989947367 and parameters: {'max_depth': 186, 'learning_rate': 0.0037307266645108, 'min_samples_leaf': 1732, 'n_estimators': 949, 'loss': 'ls'}. Best is trial 17 with value: -8.208414329805004.
[I 2022-06-02 21:05:07,795] Trial 20 finished with value: -16.836119031939102 and parameters: {'max_depth': 1854, 'learning_rate': 1.5738877656258105e-08, 'min_samples_leaf': 48, 'n_estimators': 406, 'loss': 'ls'}. Best is trial 17 with value: -8.208414329805004.
[I 2022-06-02 21:05:12,826] Trial 21 finished with value: -9.759512861901595 and parameters: {'max_depth': 2214, 'learning_rate': 0.005824458477354177, 'min_samples_leaf': 74, 'n_estimators': 153, 'loss': 'ls'}. Best is trial 17 with value: -8.208414329805004.
[I 2022-06-02 21:05:18,662] Trial 22 finished with value: -13.768006866357032 and parameters: {'max_depth': 2361, 'learning_rate': 0.0005952355142310667, 'min_samples_leaf': 1165, 'n_estimators': 431, 'loss': 'ls'}. Best is trial 17 with value: -8.208414329805004.
[I 2022-06-02 21:05:31,392] Trial 23 finished with value: -8.85014965040434 and parameters: {'max_depth': 866, 'learning_rate': 0.0033110817616316336, 'min_samples_leaf': 1741, 'n_estimators': 994, 'loss': 'ls'}. Best is trial 17 with value: -8.208414329805004.
[I 2022-06-02 21:05:46,553] Trial 24 finished with value: -8.32146311755282 and parameters: {'max_depth': 2565, 'learning_rate': 0.009340592663286294, 'min_samples_leaf': 696, 'n_estimators': 710, 'loss': 'ls'}. Best is trial 17 with value: -8.208414329805004.
[I 2022-06-02 21:05:52,497] Trial 25 finished with value: -14.362125316209802 and parameters: {'max_depth': 409, 'learning_rate': 0.0003489078931167072, 'min_samples_leaf': 3166, 'n_estimators': 728, 'loss': 'ls'}. Best is trial 17 with value: -8.208414329805004.
[I 2022-06-02 21:06:05,738] Trial 26 finished with value: -9.054228764960646 and parameters: {'max_depth': 1353, 'learning_rate': 0.001995976539984675, 'min_samples_leaf': 998, 'n_estimators': 876, 'loss': 'ls'}. Best is trial 17 with value: -8.208414329805004.
[I 2022-06-02 21:06:06,098] Trial 27 finished with value: -16.836227361308143 and parameters: {'max_depth': 4785, 'learning_rate': 0.00010906353463132614, 'min_samples_leaf': 7604, 'n_estimators': 698, 'loss': 'ls'}. Best is trial 17 with value: -8.208414329805004.
[I 2022-06-02 21:06:13,626] Trial 28 finished with value: -16.537925714424873 and parameters: {'max_depth': 2874, 'learning_rate': 2.74126990333797e-05, 'min_samples_leaf': 2007, 'n_estimators': 796, 'loss': 'ls'}. Best is trial 17 with value: -8.208414329805004.
[I 2022-06-02 21:06:18,155] Trial 29 finished with value: -13.403418964893492 and parameters: {'max_depth': 3483, 'learning_rate': 0.0005969024979335984, 'min_samples_leaf': 5131, 'n_estimators': 875, 'loss': 'ls'}. Best is trial 17 with value: -8.208414329805004.
[I 2022-06-02 21:06:23,762] Trial 30 finished with value: -10.147289918305477 and parameters: {'max_depth': 1784, 'learning_rate': 0.002944881313268569, 'min_samples_leaf': 3552, 'n_estimators': 736, 'loss': 'ls'}. Best is trial 17 with value: -8.208414329805004.
[I 2022-06-02 21:06:28,906] Trial 31 finished with value: -8.457078368346412 and parameters: {'max_depth': 2569, 'learning_rate': 0.009888362261837355, 'min_samples_leaf': 710, 'n_estimators': 283, 'loss': 'ls'}. Best is trial 17 with value: -8.208414329805004.
[I 2022-06-02 21:06:34,480] Trial 32 finished with value: -8.426222975277303 and parameters: {'max_depth': 3928, 'learning_rate': 0.009841246582364642, 'min_samples_leaf': 921, 'n_estimators': 337, 'loss': 'ls'}. Best is trial 17 with value: -8.208414329805004.
[I 2022-06-02 21:06:39,342] Trial 33 finished with value: -9.61279064744013 and parameters: {'max_depth': 3972, 'learning_rate': 0.003646992344356842, 'min_samples_leaf': 1386, 'n_estimators': 389, 'loss': 'ls'}. Best is trial 17 with value: -8.208414329805004.
[I 2022-06-02 21:06:43,968] Trial 34 finished with value: -15.225597329265783 and parameters: {'max_depth': 717, 'learning_rate': 0.00029087137214217276, 'min_samples_leaf': 2301, 'n_estimators': 470, 'loss': 'ls'}. Best is trial 17 with value: -8.208414329805004.
[I 2022-06-02 21:06:53,483] Trial 35 finished with value: -11.607544951299817 and parameters: {'max_depth': 3820, 'learning_rate': 0.0009817784521267427, 'min_samples_leaf': 649, 'n_estimators': 548, 'loss': 'ls'}. Best is trial 17 with value: -8.208414329805004.
[I 2022-06-02 21:06:55,261] Trial 36 finished with value: -11.17803816670966 and parameters: {'max_depth': 5537, 'learning_rate': 0.005234684497930165, 'min_samples_leaf': 4864, 'n_estimators': 329, 'loss': 'ls'}. Best is trial 17 with value: -8.208414329805004.
[I 2022-06-02 21:07:02,651] Trial 37 finished with value: -9.76751292558824 and parameters: {'max_depth': 4287, 'learning_rate': 0.002197280762916618, 'min_samples_leaf': 1597, 'n_estimators': 616, 'loss': 'ls'}. Best is trial 17 with value: -8.208414329805004.
[I 2022-06-02 21:07:12,140] Trial 38 finished with value: -8.30922496794969 and parameters: {'max_depth': 3425, 'learning_rate': 0.009965461953800485, 'min_samples_leaf': 820, 'n_estimators': 499, 'loss': 'ls'}. Best is trial 17 with value: -8.208414329805004.
[I 2022-06-02 21:08:10,263] Trial 39 finished with value: -16.830859125174815 and parameters: {'max_depth': 1508, 'learning_rate': 6.221253503005583e-07, 'min_samples_leaf': 1, 'n_estimators': 509, 'loss': 'ls'}. Best is trial 17 with value: -8.208414329805004.
[I 2022-06-02 21:08:10,873] Trial 40 finished with value: -16.836227361308143 and parameters: {'max_depth': 3256, 'learning_rate': 0.0004683240442346718, 'min_samples_leaf': 6621, 'n_estimators': 616, 'loss': 'ls'}. Best is trial 17 with value: -8.208414329805004.
[I 2022-06-02 21:08:17,379] Trial 41 finished with value: -8.36462547681132 and parameters: {'max_depth': 3501, 'learning_rate': 0.00940577835868884, 'min_samples_leaf': 777, 'n_estimators': 359, 'loss': 'ls'}. Best is trial 17 with value: -8.208414329805004.
[I 2022-06-02 21:08:24,534] Trial 42 finished with value: -8.806651150837615 and parameters: {'max_depth': 2792, 'learning_rate': 0.00474520548299696, 'min_samples_leaf': 587, 'n_estimators': 376, 'loss': 'ls'}. Best is trial 17 with value: -8.208414329805004.
[I 2022-06-02 21:08:31,039] Trial 43 finished with value: -10.182301651528538 and parameters: {'max_depth': 1957, 'learning_rate': 0.0021601298085771846, 'min_samples_leaf': 1250, 'n_estimators': 463, 'loss': 'ls'}. Best is trial 17 with value: -8.208414329805004.
[I 2022-06-02 21:08:31,326] Trial 44 finished with value: -16.836227361308143 and parameters: {'max_depth': 4675, 'learning_rate': 0.000998009393249256, 'min_samples_leaf': 9845, 'n_estimators': 524, 'loss': 'ls'}. Best is trial 17 with value: -8.208414329805004.
[I 2022-06-02 21:08:42,572] Trial 45 finished with value: -8.417223880081245 and parameters: {'max_depth': 3552, 'learning_rate': 0.005207000649439276, 'min_samples_leaf': 584, 'n_estimators': 561, 'loss': 'ls'}. Best is trial 17 with value: -8.208414329805004.
[I 2022-06-02 21:08:44,963] Trial 46 finished with value: -16.280361097706777 and parameters: {'max_depth': 7900, 'learning_rate': 0.00015863180920693508, 'min_samples_leaf': 2977, 'n_estimators': 304, 'loss': 'ls'}. Best is trial 17 with value: -8.208414329805004.
[I 2022-06-02 21:08:51,234] Trial 47 finished with value: -10.225599226800288 and parameters: {'max_depth': 851, 'learning_rate': 0.0019025788714442564, 'min_samples_leaf': 2375, 'n_estimators': 669, 'loss': 'ls'}. Best is trial 17 with value: -8.208414329805004.
[I 2022-06-02 21:08:57,327] Trial 48 finished with value: -8.687899280059366 and parameters: {'max_depth': 3145, 'learning_rate': 0.009864695323671742, 'min_samples_leaf': 1498, 'n_estimators': 440, 'loss': 'ls'}. Best is trial 17 with value: -8.208414329805004.
[I 2022-06-02 21:09:06,493] Trial 49 finished with value: -11.08998707472923 and parameters: {'max_depth': 4214, 'learning_rate': 0.0009151616504390129, 'min_samples_leaf': 1966, 'n_estimators': 841, 'loss': 'ls'}. Best is trial 17 with value: -8.208414329805004.

# 최종 MSE(8.2084)

In [27]:
optimised_try = ensemble.GradientBoostingRegressor(max_depth = 121, learning_rate = 0.008709674733674474,
                                     min_samples_leaf = 361,n_estimators = 960,loss = 'ls',random_state=42)

In [28]:
from sklearn.metrics import mean_squared_error
from sklearn.metrics import mean_absolute_error

optimised_try.fit(x_train_pre,y_train)

mse = mean_squared_error(y_test, optimised_try.predict(x_test_pre))
print("The mean squared error (MSE) on test set: {:.4f}".format(mse))
#print("The initial error of API ETA on test set: {:.4f}".format(mean_squared_error(y_test, x_test[:,0]) ))

mae = mean_absolute_error(y_test, optimised_try.predict(x_test_pre))
print("The mean absolute error (MAE) on test set: {:.4f}".format(mae))
#print("The initial error of API ETA on test set: {:.4f}".format(mean_absolute_error(y_test, x_test[:,0]) ))

The mean squared error (MSE) on test set: 8.2084
The mean absolute error (MAE) on test set: 2.0624